@import url("reset.css");
@import url("fonts.css");

.flag-img {
    height: 20px;
}
h1 {
    font-size: 35px;
    font-weight: bold;
    display: block;
    color: #ffffff;
}

.avatar-wrap {
    /* vertical-align: top; */
    display: inline-block;
    text-align: center;
    /* width: 300px; */
    width: 100%;
    /* height: 100%; */
    /* position: absolute;
    top: 0;
    left: 0; */
}
.avatar {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
#personal-info {
    margin: 20px 10px;
    font-size: 20px;
    line-height: 1.5;
    color: #000000;

}
body {background-image: url(https://images.unsplash.com/photo-1580122468928-0e9940385cb1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=627&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
h3{
    font-size: 20px;
    font-weight: bold;
}
.item {
    margin: 20px 10px;
    font-size: 10px;
    line-height: 1.5;
    color: #000000;
}
